* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  width: 100vw;
  height: 100vh;
  background-color: #f3f3f3;
  position: absolute;
}

.card {
  max-width: 350px;
  max-height: 450px;
  background-color: #ffff;
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  overflow-y: auto;
}

svg {
  height: 30px;
  padding: 5px;
}

/* head */

.head,
.body-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.info img {
  width: 35px;
  padding: 2px;
  border-radius: 100%;
  box-shadow: 0px 0px 5px 0px rgba(216, 216, 216, 216.45);
}

.info {
  display: flex;
  align-items: center;
}

.user-name {
  margin: 0px 10px;
}

.user-name .name {
  font-size: 13px;
  font-weight: 600;
}
.user-name p {
  font-size: 10px;
}

.user-name .id {
  color: grey;
}
.three-dots {
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}


/* body */

.body,
.bottom-section {
  padding: 5px 15px;
}
.body img {
  width: 100%;
  border-radius: 5px;
}

.body-icons {
  padding: 5px 0px;
}

/* Bottom  */

.bottom {
  margin: auto;
  display: flex;
  position: relative;
  padding-top: 20px;
}

input {
  width: 100%;
  padding: 5px;
  padding-right: 40px;
  border-radius: 10px;
  border: 2px solid #a39e9e;
  font-size: 12px;
}

.bottom svg {
  transform: rotate(90deg);
  position: absolute;
  right: 7px;
}

.bottom-section h4,
p {
  padding: 0 7px;
}
h6,
span {
  padding: 4px 10px;
  font-family: "Courier New", Courier, monospace;
}

.sub-heading {
  display: flex;
  justify-content: space-between;
}

